.header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--default-margin) / 2);
}

.header .change {
    width: 100%;
    padding: 0 0 var(--default-margin);
    font-size: 26px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.5px;
}

.header .from {
    margin-right: calc(var(--default-margin) * 1.5);
}

.header .from,
.header .to {
    width: calc(50% - var(--default-margin));
}

.replacers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: var(--app-width);
    margin: 0 auto;
}