.header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--default-margin) / 2);
}

.header .change {
    width: 100%;
    text-align: center;
    padding: 0 0 var(--default-margin);
    font-size: 35px;
    text-transform: uppercase;
}

.header .from {
    margin-right: calc(var(--default-margin) * 1.5);
}

.header .from,
.header .to {
    width: calc(50% - var(--default-margin));
}

.replacers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50vw;
    margin: 0 auto;
}

.add-button-wrapper {
    text-align: right;
    padding: calc(var(--default-margin) / 2);
}