.replacer label {
    width: 50%;
    display: inline-block;
}

.replacer input {
    font-size: 14px;
    width: calc(100% - var(--default-margin));
    margin: calc(var(--default-margin) / 2);
    padding: calc(var(--default-margin) / 2);
}