:root {
    --default-margin: 20px;
    --app-width: 50vw;
    --theme-main-color: #2196F3;
    --theme-second-color: #efefef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.25;
}